*.la
*.dll
*.exe
*.exp
*.lo
*.loT
*.o
*.obj
*.out.dSYM
*.so.dSYM
*~
.*.swp
.libs/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.cache
config.guess
config.log
config.status
config.sub
configure
install-sh
libnet.pc
libnet*.changes
libnet*.deb
libnet-1.?
libnet-1.?.?
libnet-1.?.?.tar.gz
libnet-1.?.tar.gz
libtool
ltmain.sh
missing
stamp-*
tags
