Package: libnet1-dev
Source: libnet
Version: 1.1.2.1-4.
Architecture: amd64
Maintainer: David Paleino <d.paleino@gmail.com>
Installed-Size: 532
Depends: libc6-dev, libnet1 (= 1.1.2.1-4.)
Conflicts: libnet-dev
Provides: libnet-dev
Section: libdevel
Priority: optional
Description: development files for libnet
 libnet provides a portable framework for low-level network packet
 writing and handling.
 .
 libnet features portable packet creation interfaces at the IP layer
 and link layer, as well as a host of supplementary functionality.
 .
 Using libnet, quick and simple packet assembly applications can be
 whipped up with little effort. With a bit more time, more complex
 programs can be written (Traceroute and ping were easily rewritten
 using libnet and libpcap).
 .
 This package contains the files needed to compile and link programs
 that use libnet.
